<form>
  <div class="form-group">
    <input type="text" value="{{paciente.nombre}}" class="form-control" id="nombreInput" placeholder="Nombre">
  </div>

  <div class="form-group">
    <input type="text" value="{{paciente.especie}}" class="form-control" id="especieInput" placeholder="Especie">
  </div>

  <div class="form-group">
    <input type="text" value="{{paciente.raza}}" class="form-control" id="razaInput" placeholder="Raza">
  </div>

  <div class="form-group">
    <input type="text" value="{{paciente.color}}" class="form-control" id="colorInput" placeholder="Color">
  </div>

  <div class="form-group">
    <input type="text" value="{{paciente.rut}}" class="form-control" id="rutClienteInput" placeholder="Rut cliente">
  </div>

  <div class="form-group">
    <input type="text" value="{{paciente.chip}}" class="form-control" id="chipInput" placeholder="Número de Chip">
  </div>

  <div class="form-group">
    <label for="ultimaVisitaInput">Última visita</label>
    <input type="Date" value="{{paciente.ultimaVisita}}" class="form-control" id="ultimaVisitaInput">
  </div>

  <div>
    <label><input type="checkbox" value="{{paciente.castrado}}" id="castradoInput" /> Castrado</label>
  </div>

  <button type="submit" class="btn btn-primary">Guardar</button>
</form>